* {
    font-family: Helvetica, Arial, sans-serif;
}

.intro,
.description {
    text-align: center;
}

p {
    padding: 0px 40px;
}

li {
    margin: 5px;
}

h2 {
    color:royalblue;
}

body {
    background-color: antiquewhite;
}