h1 {
    color: blue;
    text-align: center;
    font-size: 35px;
}

a {
    color: white;
    font-size: 20px;
}

div {
    background-color: dodgerblue;
    padding: 10px;
    margin: 5px auto;
    height: auto;
    width: 400px;
}